*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --border-radius-modal: 10px;
    --color-border-input: #c2c2c2;
}
.contenedor-global-modal{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
}
.contenedor-registro-ventana-modal{
    background-color: white;
    width: 300px;
    height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: opacity 0.3s ease;
    padding: 10px;
    border-radius: var(--border-radius-modal);
}
.contenedor-registro-ventana-modal div{
    padding: 3% 0;
    text-align: center;
    width: 80%;
}
.contenedor-modal-correo,.contenedor-modal-pass{
    width: 80%;
    border: 1px solid var(--color-border-input);
    border-radius: var(--border-radius-modal);
    margin: 5px 0;
    color: var(--color-border-input);
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor-modal-pass input{
    border: none;
    outline: none;
    padding-left: 10px;
}
.contenedor-modal-correo input{
    border: none;
    outline: none;
    padding-left: 10px;
}

/* css del boton del contenedor */
.contenedor-modal-botonEnviar button{
    width: 80%;
    height: 40px;
    background: var(--color-principal);
    border: none;
    color: white;
    font-weight: 700;
    cursor: pointer;
    border-radius: var(--border-radius-modal);
    text-transform: uppercase;
}
/* css del icono de la ventana */
.contenedor-modal-icon{
    font-size: 5em;
    color: var(--color-principal);
}
/* css del titulo */
.contenedor-modal-titulo{
    font-size: 1.3em;
}
/* css del link del modal */
.contenedor-modal-link a{
    color: black;
    text-decoration: none;
    font-weight: 700;
}
.contenedor-modal-link a:hover{
    text-decoration: underline;
}

.activo{
    display: block;
}
.desactivo{
    display: none;
}
/* css de los errores que debe mostrar */
.mensaje-error-modal{
    font-size: 0.8em;
    display: none;
    color: red;
}